Pillow
PyPDF2
cloudconvert
flask
flask_cors
groq
langchain
langchain_community
langchain_groq
numpy
opencv-python-headless
pdf2image
pdfplumber
playwright
plotly
pytesseract
python-docx
python-dotenv
pyvirtualdisplay
requests
scikit-learn
streamlit
streamlit_autorefresh
streamlit_lottie
openai
faiss-cpu
Flask==2.2.2
Flask-Cors==3.0.10
gunicorn==20.1.0
requests==2.28.2
google-cloud-storage
docx2txt
beautifulsoup4
pandas